<section class="section section--other-serv">
	<div class="container">

		<div class="other-serv">
			<h4 class="other__pre-title">Другие услуги</h4>
			<div class="other-serv_block">
				<img src="img/@2x/star.png" alt="Разработка дизайна" class="other__img">
				<h4 class="other__title">Разработка дизайна</h4>
				<p class="other__text">
					Разработка индивидуального веб дизайна, со всеми требованиями клиента. Создание самобытной айдентики и оригинального логотипа.
				</p>
				<button src="#0" class="service-btn other-btn"><span>Подробнее</span></button>
			</div>
			<div class="other-serv_block">
				<img src="img/@2x/jet.png" alt="SEO-продвижение" class="other__img">
				<h4 class="other__title">SEO-продвижение</h4>
				<p class="other__text">
					Сегодня, когда большая часть рекламы идет через Интернет, а интернет-маркетинг развит как никогда, особенно важным становится качественное SEO 
				</p>
				<button src="#0" class="service-btn other-btn"><span>Подробнее</span></button>
			</div>
			<div class="other-serv_block">
				<img src="img/@2x/horse.png" alt="Контекстная реклама" class="other__img">
				<h4 class="other__title">Контекстная реклама</h4>
				<p class="other__text">
					Реклама вашего сайта в Яндексе и/или Google. 
					Во Вконтакте, Фэйсбуке и других социальных сетях.
					Что повышает узнаваемость вашего сайта.
				</p>
				<button src="#0" class="service-btn other-btn"><span>Подробнее</span></button>
			</div>
		</div>
	</div>
</section>