<div id="services-trigger"></div>
<section class="section section--services">
	<div class="container">

		<div class="service-block">
			<div class="service-content">
					<h3><i class="fa fa-id-card service-icon-big" aria-hidden="true"></i>Лэндинг</h3>
					<p class="service-content-text">
						Одностраничный сайт с последовательной информацией вдоль страницы. Выгоден при наличии нескольких товаров и/или услуг.
					</p>
					<div class="service-price">
						<span class="price">Цена: от 69.99 $</span><span class="price-info">*Акция 10% при заказе базовой SEO-оптимизации</span>
					</div>
					<div class="service-btns">
						<a href="" data-modal="#modal1" class="modal-mobile open-modal"><button class="service-btn"><span>Консультация</span></button></a>
					</div>
			</div>
			<div class="service-content">
				<div class="service-info">
					<div class="service-info-title">
						<h4><i class="fa fa-shopping-bag service-icon" aria-hidden="true"></i>Пакет услуг:</h4>
					</div>
					<div class="service-info-text">
						<p>
							<ul>
								<li>Верстка одной страницы до 8 блоков</li>
								<li>Установка на Ваш хостинг</li>
								<li>Установка на Наш сервер</li>
								<li>Подключение домена</li>
								<li>Подключение базового набора плагинов</li>
								<li>Установка на CMS textolite </li>
								<li>Дизайн под ключ</li>
							</ul>
						</p>
					</div>
				</div>
				<div class="service-info">
					<div class="service-info-title">
						<h4><i class="fa fa-star service-icon" aria-hidden="true"></i>Доп. платные услуги:</h4>
					</div>
					<div class="service-info-text">
						<p>
							<ul>
								<li>Подключение расширенного набора плагинов</li>
								<li>Маркетинговое исследование</li>
								<li>Установка другой CMS</li>
								<li>Создание дополнительных страниц</li>
								<li>Создание сетки лендингов</li>
								<li>Создание Рекламной компании Google или Yandex</li>
							</ul>
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="service-block">
			<div class="service-content">
					<h3><i class="fa fa-shopping-basket service-icon-big" aria-hidden="true"></i>Онлайн-Каталог</h3>
					<p class="service-content-text">
						Многостраничный сайт, имеет обширную вариативность продвижения, выгоден при наличии большого ассортимента товаров и услуг.
					</p>
					<div class="service-price">
						<span class="price">Цена: от 299.99 $</span><span class="price-info">*Акция 10% при заказе базовой SEO-оптимизации</span>
					</div>
					<div class="service-btns">
						<a href="" data-modal="#modal1" class="modal-mobile open-modal"><button class="service-btn"><span>Консультация</span></button></a>
					</div>
			</div>
			<div class="service-content">
				<div class="service-info">
					<div class="service-info-title">
						<h4><i class="fa fa-shopping-bag service-icon" aria-hidden="true"></i>Пакет услуг:</h4>
					</div>
					<div class="service-info-text">
						<p>
							<ul>
								<li>Верстка множества страниц</li>
								<li>Дизайн под ключ</li>
								<li>Установка на хостинг</li>
								<li>Подключение домена</li>
								<li>Установка на CMS</li>
								<li>Маркетинговое исследование</li>
								<li>Cоздание по одной рекламной кампании в Google и Yandex</li>
								<li>Возможность создания и редактирование товаров / цен / скидок / акций и д.р.</li>
							</ul>
						</p>
					</div>
				</div>
				<div class="service-info">
					<div class="service-info-title">
						<h4><i class="fa fa-star service-icon" aria-hidden="true"></i>Доп. платные услуги:</h4>
					</div>
					<div class="service-info-text">
						<p>
							<ul>
								<li>Подключение базового и расширенного набора плагинов</li>
								<li>Создание дополнительных страниц</li>
								<li>Создание корзины с возможностью онлайн-заказа</li>
								<li>Интеграция с CRM</li>
								<li>Создание CRM</li>
								<li>Базовая SEO-оптимизация</li>
								<li>Создание личного кабинета</li>
							</ul>
						</p>
					</div>
				</div>
			</div>
		</div>
		
		<div class="service-block">
			<div class="service-content">
					<h3><i class="fa fa-shopping-cart service-icon-big" aria-hidden="true"></i>Интернет-магазин</h3>
					<p class="service-content-text">
						Многостраничный сайт, имеет обширную вариативность продвижения, выгоден при наличии большого ассортимента товаров и услуг. Имеется возможность онлайн оплаты. "возможна интеграция со множеством CRM-систем, систем онлайн оплаты.
					</p>
					<div class="service-price">
						<span class="price">Цена: от 400.00 $</span><span class="price-info">*Акция 10% при заказе базовой SEO-оптимизации</span>
					</div>
					<div class="service-btns">
						<a href="" data-modal="#modal1" class="modal-mobile open-modal"><button class="service-btn"><span>Консультация</span></button></a>
					</div>
			</div>
			<div class="service-content">
				<div class="service-info">
					<div class="service-info-title">
						<h4><i class="fa fa-shopping-bag service-icon" aria-hidden="true"></i>Пакет услуг:</h4>
					</div>
					<div class="service-info-text">
						<p>
							<ul>
								<li>Верстка множества страниц</li>
								<li>Создание корзины</li>
								<li>Маркетинговое исследование</li>
								<li>Дизайн под ключ</li>
								<li>Установка на хостинг</li>
								<li>Подключение домена</li>
								<li>Установка на CMS</li>
								<li>Cоздание по одной рекламной кампании в Google и Yandex</li>
								<li>Возможность создания и редактирование товаров / цен / скидок / акций и д.р.</li>
							</ul>
						</p>
					</div>
				</div>
				<div class="service-info">
					<div class="service-info-title">
						<h4><i class="fa fa-star service-icon" aria-hidden="true"></i>Доп. платные услуги:</h4>
					</div>
					<div class="service-info-text">
						<p>
							<ul>
								<li>Подключение базового и расширенного набора плагинов</li>
								<li>Создание личного кабинета</li>
								<li>Создание дополнительных страниц</li>
								<li>Интеграция с CRM</li>
								<li>Создание CRM</li>
								<li>Базовая SEO-оптимизация</li>
							</ul>
						</p>
					</div>
				</div>
			</div>
		</div>

	</div>
</section>