<header id="about">
<section class="section section--about">
	<div class="container">

		<div class="section__header">
			<h2 class="title">Немного информации о нас</h2>
			<div class="section__text">
			</div>
		</div>

		<div class="about">
			<p>QAstudio.by - это не просто студия, а целая сплоченная команда. Уже больше двух лет мы вместе работаем над реализацией проектов разной сложности в Веб-индустрии. Если вы только планируете открывать свой проект, то мы с радостью поделимся своим опытом и поможем реализовать ваши планы.</p>
		</div>

	</div>
</section>