<div id="power"></div>
<section class="section section--adv">
	<div class="container">
		<div class="adv">
			<div class="adv__content adv__content-right">
				<img class="adv__img trophy_fit"	src="img/trophy.svg" alt="Качество">
			</div>
			<div class="adv__content">
				<h4 class="adv__title">Гарантия качества</h4>
				<div class="advent__text">
					<p>Любые наши проекты делаются индивидуально под каждого заказчика. Перед началом работы обязательно составляется техническое задание и весь процесс обсуждается напрямую с клиентом. Гарантированное качество работы.</p>
				</div>
			</div>
		</div>
		<div class="adv">
			<div class="adv__content adv__content-left">
				<img class="adv__img"	src="img/support.svg" alt="Поддержка и сопровождение">
			</div>
			<div class="adv__content">
				<h4 class="adv__title">Поддержка и сопровождение</h4>
				<div class="advent__text">
					<p>По завершению работы Вы получаете готовый проект. За вами закрепляется специалист, который в случае чего поможет и будет консультировать по возникшим вопросам. Также Вы можете получать бесплатные обновления или заказывать доработку и разработку дополнительного функционала.</p>
				</div>
			</div>
		</div>
		<div class="adv">
			<div class="adv__content adv__content-right">
				<img class="adv__img"	src="img/flasks.svg" alt="Опыт работы">
			</div>
			<div class="adv__content">
				<h4 class="adv__title">Опыт работы</h4>
				<div class="advent__text">
					<p>На протяжении уже более двух лет мы работаем над абсолютно разными как по сложности, так и по подходу проектами. Также мы часто берем на работу новых специалистов расширяя штат сотрудников. Мы не стоим на месте и постоянно предлагаем клиентам обновленные системы, новые технологии защиты и т.д.</p>
				</div>
			</div>
		</div>
	</div>
</section>