<div id="contact"></div>
<section class="section section--aplication">
	<div class="container">

		<form class="aplication" name="form" method="post">
			<input type="hidden" name="project_name" value="qastudio.by">
			<input type="hidden" name="admin_email" value="info@qastudio.by">
			<input type="hidden" name="form_subject" value="Заявка с QAstudio (Гл. страница)">

			<div class="group-inp">
				<input class="aplication__input" type="text" name="name" required>
				<label class="label-apl">Имя</label>
			</div>
			<div class="group-inp">
				<input class="aplication__input" type="tel" name="phone" required>
				<label class="label-apl">Телефон *</label>
			</div>
			<button class="aplication__btn" type="submit"><span>Заказать консультацию</span></button>
		</form>
		
	</div>
</section>