<section class="section section--footer">
	<div class="container">
		<footer class="footer">
			<!-- <span>Наши контакты</span>
			<span>+375 (29) 662-87-32</span> -->
			<a href="https://vk.com/levyndra" target="_blank"><i class="fa fa-vk" aria-hidden="true"></i></a>
			<i class="fa fa-facebook" aria-hidden="true"></i>
			<i class="fa fa-twitter" aria-hidden="true"></i>
			<i class="fa fa-youtube-play" aria-hidden="true"></i>
			<p>© 2019 Copyrights by QAstudio.by. All rights reserved</p>
		</footer>
	</div>
</section>