<header id="main">
<header class="header">
	<div class="container">
		<div class="header-top">
			<div class="logo">
				<a href="/"><img src="img/@2x/logo.png" alt="logo" class="img-responsive"></a>
			</div>
			<nav class="nav">
				<a class="nav__link" href="#" data-scroll="#main">Главная</a>
				<a class="nav__link" href="#" data-scroll="#services-trigger">Услуги</a>
				<a class="nav__link" href="#" data-scroll="#about">О нас</a>
				<a class="nav__link" href="#" data-scroll="#power">Преимущества</a>
				<a class="nav__link" href="#" data-scroll="#contact">Контакты</a>
			</nav>
			<div class="mobile-menu">
				<div class="burger-fragments"></div>
			</div>
			<div class="phone">
				<a id="desktop-modal" href="tel:+375295919180" data-modal="#modal1" class="modal-mobile open-modal">
					<p id="call-me">+375 (29) 591-91-80</p>
					<p class="phone-text">Проконсультироваться</p>
				</a>
			</div>
		</div>
	</div>
</header>

<div class="preview" data-vide-bg="video/canada">
	<div class="preview_overlay"></div>
	<div class="container">
		<div class="preview-titles">
			<h1 class="preview__title">Разработка и продвижение сайтов в Минске!</h1>
			<p class="preview__text">Дизайн сайтов, сайт под ключ, продвижение сайтов, контекстная реклама.</p>
			<a class="preview__btn" href="#" data-scroll="#services-trigger">Посмотреть</a>
		</div>
	</div>
</div>

<div class="modal__overlay">
	<div class="modal" id="modal1">
		<div class="modal__content">
			<a class="modal-btn close-modal" data-modal="#modal1" href="#"><i class="fa fa-times" aria-hidden="true"></i></a>
			<h1 class="title">Оставить заявку</h1>
			<form class="modal__apl" name="form" method="post">
				<input type="hidden" name="project_name" value="qastudio.by">
				<input type="hidden" name="admin_email" value="info@qastudio.by">
				<input type="hidden" name="form_subject" value="Заявка с QAstudio (Гл. страница) в модальном окне">

				<input class="modal__input" type="text" name="name" placeholder="Имя">
				<input class="modal__input" type="tel" name="phone" placeholder="Телефон" required>

				<button class="modal-btn" type="submit"><span>отправить</span></button>
			</form>
		</div>	
	</div>
</div>