<section class="section section--portfolio">
	<div class="portfolio-bg"></div>
	<div class="container">

		<div class="section__header">
			<h2 class="title">Некоторые из наших работ</h2>
			<div class="section__text">
				<p>
					QA studio занимается разработкой недорогих и качественных сайтов под ключ.
				</p>
			</div>
		</div>

		<div class="portfolio">
			<div class="portfolio__inner">
				<div class="portfolio__item p-item1">
					<a href="#0"><img src="img/@2x/4.png" alt="">
						<p>
							<span class="portfolio-loop"></span>
						</p>
					</a>
				</div>
				<div class="portfolio__item p-item2">
					<a href="#0"><img src="img/@2x/8.jpg" alt="">
						<p>
							<span class="portfolio-loop"></span>
						</p>
					</a>
				</div>
				<div class="portfolio__item p-item3">
					<a href="#0"><img src="img/@2x/1.jpg" alt="">
						<p>
							<span class="portfolio-loop"></span>
						</p>
					</a>
				</div>
				<div class="portfolio__item p-item4">
					<a href="#0"><img src="img/@2x/5.png" alt="">
						<p>
							<span class="portfolio-loop"></span>
						</p>
					</a>
				</div>
				<div class="portfolio__item p-item5">
					<a href="#0"><img src="img/@2x/7.jpg" alt="">
						<p>
							<span class="portfolio-loop"></span>
						</p>
					</a>
				</div>
				<div class="portfolio__item p-item6">
					<a href="#0"><img src="img/@2x/6.jpg" alt="">
						<p>
							<span class="portfolio-loop"></span>
						</p>
					</a>
				</div>
				<div class="portfolio__item p-item7">
					<a href="#0"><img src="img/@2x/2.jpg" alt="">
						<p>
							<span class="portfolio-loop"></span>
						</p>
					</a>
				</div>
			</div>
		</div>

	</div>
</section>