<section class="section section--reviews">
	<div class="container">

		<div class="section__header">
			<h2 class="title">Отзывы наших клиентов</h2>
			<div class="section__text">
				<p>
					QA studio занимается разработкой недорогих и качественных сайтов под ключ.
				</p>
			</div>
		</div>
		<div class="reviews">
			<div>
				<div class="review__block">
					<span class="review__title">Максим</span>
					<p class="review__text">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты решила, безопасную вопрос!</p>
					<span class="review__time">7 месяцев назад</span>
				</div>
			</div>
			<div>
				<div class="review__block">
					<span class="review__title">Андрей</span>
					<p class="review__text">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты. Маленький над заголовок, напоивший, семантика продолжил одна использовало злых рукопись маленькая гор вскоре подзаголовок скатился жаренные буквенных, строчка пустился меня!</p>
					<span class="review__time">1 месяцев назад</span>
				</div>
			</div>
			<div>
				<div class="review__block">
					<span class="review__title">Артём</span>
					<p class="review__text">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты решила, безопасную вопрос!</p>
					<span class="review__time">3 месяцев назад</span>
				</div>
			</div>
			<div>
				<div class="review__block">
					<span class="review__title">Настя</span>
					<p class="review__text">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты решила, безопасную вопрос!</p>
					<span class="review__time">6 месяцев назад</span>
				</div>
			</div>
			<div>
				<div class="review__block">
					<span class="review__title">Дмитрий</span>
					<p class="review__text">Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные тексты решила, безопасную вопрос!</p>
					<span class="review__time">8 месяцев назад</span>
				</div>
			</div>
		</div>

	</div>
</section>