<div id="services-trigger"></div>
<section class="section section--services">
	<div class="container">

		<div class="section__header">
			<h2 class="title">Наши услуги</h2>
			<div class="section__text">
				<p>
					QA studio занимается разработкой недорогих и качественных сайтов под ключ.
				</p>
			</div>
		</div>

		<div class="services">
			<div class="service__item">
				<i class="fa fa-laptop service__icon" aria-hidden="true"></i>
				<div class="service__title">Разработка сайтов</div>
				<div class="service__text">
					Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные.
				</div>
				<a href="/sitedev.html" class="service-btn">Подробнее</a>
			</div>
			<div class="service__item">
				<i class="fa fa-id-card service__icon" aria-hidden="true"></i>
				<div class="service__title">Лендинг пейдж</div>
				<div class="service__text">
					Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные.
				</div>
				<a href="#" class="service-btn">Подробнее</a>
			</div>
			<div class="service__item">
				<i class="fa fa-paint-brush service__icon" aria-hidden="true"></i>
				<div class="service__title">Разработка дизайна</div>
				<div class="service__text">
					Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные.
				</div>
				<a href="#" class="service-btn">Подробнее</a>
			</div>
			<div class="service__item">
				<i class="fa fa-rocket service__icon" aria-hidden="true"></i>
				<div class="service__title">SEO-продвижение</div>
				<div class="service__text">
					Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные.
				</div>
				<a href="#" class="service-btn">Подробнее</a>
			</div>
			<div class="service__item">
				<i class="fa fa-bullhorn service__icon" aria-hidden="true"></i>
				<div class="service__title">Контекстная реклама</div>
				<div class="service__text">
					Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные.
				</div>
				<a href="#" class="service-btn">Подробнее</a>
			</div>
			<div class="service__item">
				<i class="fa fa-pie-chart service__icon" aria-hidden="true"></i>
				<div class="service__title">Разовая оптимизация</div>
				<div class="service__text">
					Далеко-далеко за словесными горами в стране, гласных и согласных живут рыбные.
				</div>
				<a href="#" class="service-btn">Подробнее</a>
			</div>
		</div>

	</div>
</section>